.left-wrapper {
  height: 100%;
  min-width: 240rem;
  //background: $dark-bg;
  background: rgb(60, 63, 65);
  font-size: 14rem;
  border-right: 2px solid black;
  $h: 50rem;


  .i-icon {
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  .temp {
    display: flex;
    height: $h;
    color: white;

    .component {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
    }
  }

  $bg: rgb(46, 46, 46);

  .tabs {
    display: flex;
    color: gray;
    height: $h;
    border: 2px solid black;
    border-left: 0;
    border-right: 0;

    .tab {
      padding: 0 10rem;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      &.active {
        color: white;
      }
    }
  }

  .layer {
    color: white;
    height: calc(100% - 100rem);
    display: flex;
    flex-direction: column;

    .page-wrapper {
      border-bottom: 2px solid black;

      > .header {
        height: $h;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10rem;

        > .left {

        }

        > .right {
          display: flex;
          align-items: center;

          .i-icon {
            margin-left: 10rem;
          }
        }
      }

      .pages {
        padding: 0 5rem;

        .page {
          margin-bottom: 5rem;
          border-radius: 8rem;
          padding: 6rem 10rem;
          padding-left: 20rem;
          display: flex;
          align-items: center;

          .i-icon {
            margin-right: 10rem;
          }

          &:hover {
            background: $bg;
          }

          &.active {
            background: $bg;
          }

        }
      }
    }

    .search {
      margin: 5rem 0;
      padding: 5rem 10rem;
      background: $bg;
      display: flex;
      border-radius: 8rem;

      .i-icon {
        margin-right: 5rem;
      }

      input {
        width: 100%;
        flex: 1;
        border: none;
        outline: unset;
        background: transparent;
        padding-right: 5rem;

        &:placeholder-shown {

          & + .close {
            display: none;
          }
        }
      }

    }

    .components {
      flex: 1;
      height: 100%;
      overflow: auto;
      padding: 0 5rem;

      .component {

        .top {
          border-radius: 8rem;
          padding: 6rem 10rem;
          padding-left: 20rem;
          display: flex;

          &:hover {
            background: $bg;
          }

          &.active {
            background: $bg;
          }
        }

        .name {
          margin-left: 3rem;
        }
      }
    }

  }
}