@import '/src/assets/css/variable.scss';

.design {
  height: 100%;
  width: 100%;
  font-size: 16rem;

  &.white {
    .tool-bar {
      background: white !important;
    }

    .header {
      opacity: 0;
    }

    .content {
      & > .left {
        opacity: 0;
      }

      & > .right {
        opacity: 0;
      }
    }
  }

  &.dark {
    background: black !important;

    .tool-bar {
      opacity: 0;
    }

    .header {
      opacity: 0;
    }

    .content {
      & > .left-wrapper {
        background: transparent;

        .tabs, .layer {
          opacity: 0;
        }
      }

      & > .right {
        opacity: 0;
      }
    }

  }

  $header-height: 42rem;

  > .header {
    height: $header-height;

    .fps {
      font-size: 28rem;
      font-weight: bold;
    }
  }

  .content {
    height: calc(100% - #{$header-height});
    display: flex;

    .canvas-wrapper {
      flex: 1;
      height: 100%;

      .tool-bar {
        height: 42rem;
        background: $dark-bg;
        display: flex;
        justify-content: space-between;

        > .left {
          display: flex;

          .tool {
            width: 45rem;
            height: 100%;
            //padding: 0 6rem;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;

            :global{
              .i-icon {
                display: flex;
              }
            }


            .arrow {
              margin-left: 2rem;
            }

            &:hover {
              background: black;
            }

            &.active {
              background: rgb(13, 153, 255);
            }
          }
        }

        > .right {
          display: flex;

          .resize {
            width: 45rem;
            display: flex;
            align-items: center;
            color: white;
          }
        }
      }

      #canvasArea {
        width: 100%;
        height: calc(100% - #{$header-height});

        #canvas {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
    }

    & > .right {
      width: 240rem;
      background: $dark-bg;
      padding: 10rem;

      .gray {
        color: gray;
      }

      .config-wrapper {
        height: 100%;
        width: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        color: white;


        .base-info {
          > .header {
            margin-bottom: 8rem;
            height: 30rem;
            display: flex;
            align-items: center;

            .title {
            }
          }

          padding: 10rem 0;
          border-bottom: 1px solid #464646;

          .row {
            margin-bottom: 6rem;
            width: 100%;
            grid-gap: 6rem;
            display: grid;
            grid-template-columns: 1fr 1fr 30rem;

            .col {
              grid-gap: 6rem;
              display: flex;
            }
          }

          .row-single {
            @extend .row;
            grid-template-columns: 1fr 30rem;
          }
        }
      }
    }
  }
}

.color-block {
  $w: 18rem;
  width: $w;
  height: $w;
  background: #000;
  border-radius: 4rem;
}

.test {
  display: flex;

  input {
    background: transparent;
    border: none;
    outline: none;
    width: 50%;
  }
}

.i-icon {
  display: flex;
}