.d-input {
  color: white;
  background: rgb(60, 60, 60);
  display: flex;
  align-items: center;
  border-radius: 5rem;
  //box-sizing: border-box;
  //width: 100rem;
  border: 2rem solid transparent;
  transition: all .3s;

  .prefix {
    margin: 0 10rem;
  }

  &:focus-within {
    border: 2rem solid rgb(75, 117, 246);
  }

  & > input {
    flex: 1;
    width: 100%;
    outline: none;
    border: none;
    height: 30rem;
    background: transparent;

  }

}