#root {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}

canvas {
    border: 1px solid gainsboro;
}

textarea {
    width: 500px;
    height: 100px;
}