@import '/src/assets/css/variable.scss';

.b-select {
  //width: 100%;
  white-space: nowrap;
  cursor: pointer;
  height: 100%;
  color: white;
  background: #141414;
  display: flex;
  align-items: center;
  padding: 0 12rem;
  justify-content: space-between;

  .b-select-right, .b-select-left {
    display: flex;
    align-items: center;
  }

  .b-select-left {
    width: 100%;
  }

  .b-select-right {
    margin-left: 10rem;
  }

  .b-select-arrow {
    transform: rotate(180deg);
  }
}

.b-select-option-list {
  //width: 100%;
  background: rgb(20, 20, 20);
  color: white;
  //bottom: 60rem;
  position: absolute;
  z-index: 9999;
  border-radius: 4rem;
  $height: 32rem;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: nowrap;
  transition: all .3s;
  opacity: 1;
  min-width: 96rem;
  padding: 6rem;
  font-size: 16rem;

  .b-select-option {
    border-radius: 4rem;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: $height;
    padding: 0 10rem;

    .i-icon-check-small{
      display: flex;
      align-items: center;
      margin-right: 12rem;
    }


    &.b-select-selected {
      background: $primary;
    }

    &:hover {
      background: $primary;
    }
  }
}
