@import '/src/assets/css/variable.scss';

.d-button {
  flex: 1;
  height: $input-height;
  border-radius: 6px;
  background: $input-bg;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14rem;

  &:hover {
    background: rgb(80, 80, 80);
  }

  &.active {
    background: $primary;
  }
}