.row {
  margin-bottom: 6rem;
  width: 100%;
  gap: 6rem;

  .col {
    gap: 6rem;
    display: flex;
  }

  &.grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr 30rem;
  }

  &.grid1 {
    display: grid;
    grid-template-columns: 1fr  30rem;
  }
}