header {
  height: 86rem;
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  padding: 0 60rem;

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 32rem;
  }

  .options {
    display: flex;
    align-items: center;

    .start {
      cursor: pointer;
      padding: 8rem 28rem;
      background: white;
      color: #0468d7;
      font-weight: bold;
      font-size: 16rem;
      border-radius: 30rem;

    }
  }
}

.one {
  background-color: #1a68d3;
  background-image: radial-gradient(ellipse at bottom, #1a68d3 5%, transparent 60%), linear-gradient(136deg, transparent, #71c7ee 290%), linear-gradient(115deg, #9d9af1, transparent 40%), linear-gradient(180deg, transparent 0, #1a68d3 70%), radial-gradient(ellipse at -70% -180%, transparent 80%, #71c7ee 0), radial-gradient(ellipse at bottom, #1a68d3 40%, transparent 80%), radial-gradient(ellipse at 5% 340%, transparent 80%, #bfc2f4 0);
  overflow: hidden;
  padding-top: 120rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .desc {
    font-size: 76rem;
    font-weight: 900;
    text-align: center;

    .color {
      //background: linear-gradient(315deg,#42d392 25%,#647eff);
      background: linear-gradient(315deg, #42d392 25%, #ff728d);

      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  img {
    width: 100%;
  }
}
