@import "variable";
//@import "font";
@import '@icon-park/react/styles/index.css';
@import 'antd/dist/antd.css';

html, body {
  margin: 0;
  padding: 0;
  font-size: 6.25%;
  height: 100%;
  width: 100%;
  //font-family: 'SourceHanSansCN', serif;
  font-weight: normal;
}

#root {
  height: 100%;
  width: 100%;
}

.canvas-text-input {
  position: fixed;
  z-index: 1000;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  //background-color: rgb(73,73,73);
  background-color: gray;
}

::-webkit-scrollbar {
  display: block;
  width: 10px;
}

.cursor {
  position: fixed;
  z-index: 999999;
  width: 20rem;
}