@font-face {
  font-family: "SourceHanSerifCN";
  src: url("src/assets/font/SourceHanSerifCN/SourceHanSerifCN-Light.otf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SourceHanSerifCN";
  src: url("src/assets/font/SourceHanSerifCN/SourceHanSerifCN-Regular.otf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SourceHanSerifCN";
  src: url("src/assets/font/SourceHanSerifCN/SourceHanSerifCN-Medium.otf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SourceHanSerifCN";
  src: url("src/assets/font/SourceHanSerifCN/SourceHanSerifCN-SemiBold.otf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SourceHanSerifCN";
  src: url("src/assets/font/SourceHanSerifCN/SourceHanSerifCN-Bold.otf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SourceHanSerifCN";
  src: url("src/assets/font/SourceHanSerifCN/SourceHanSerifCN-Heavy.otf");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
