.base-radio-group {
  width: 100%;
  height: $input-height;
  border-radius: 6px;
  background: $input-bg;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 2rem;
}

.base-radio {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0 2rem;
  border-radius: 4rem;

  &:hover {
    background: rgb(80, 80, 80);
  }

  &.base-radio-active {

    background: $primary;
    color: white;
  }
}