.b-select-wrapper {
  color: rgba(255, 255, 255, .8);
  font-size: 14rem;
  //position: fixed;
  position: relative;
  //min-width: 80rem;
  //width: 100%;
  display: flex;
  align-items: center;

  .b-select {
    width: 100%;
    white-space: nowrap;
    cursor: pointer;
    height: $input-height;
    //background: $input-bg;
    border-radius: 8rem 8rem 8rem 8rem;
    display: flex;
    align-items: center;
    //padding: 0 12rem;
    padding: 0 6rem;
    justify-content: space-between;


    .b-select-right, .b-select-left {
      display: flex;
      align-items: center;
    }

    .b-select-left {
      width: 100%;
    }

    .b-select-label {
      width: 100%;
      word-wrap: break-word;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0 5rem;

    }

    img {
      margin-top: 3rem;
      width: 14rem;
      height: 14rem;
      transition: all .3s;
      transform: rotate(0deg);
    }

    .b-select-arrow {
      transform: rotate(180deg);
    }
  }

  .b-select-option-list {
    //width: 100%;
    width: 200rem;
    background: $input-bg;
    //bottom: 45rem;
    top: 50rem;
    position: absolute;
    border-radius: 8rem;
    $height: 34rem;
    overflow-y: overlay;
    overflow-x: hidden;
    min-width: 96rem;
    white-space: nowrap;
    transition: all .2s;
    z-index: 9;
    max-height: 0;
    opacity: 0;


    .b-select-option {
      cursor: pointer;
      display: flex;
      align-items: center;
      height: $height;
      //border-radius: 8rem 8rem 0 0;

      span {
        //width: 100rem;
        word-wrap: break-word;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0 5rem;
      }

      &.b-select-selected {
        background: rgba(255, 255, 255, 0.10000000149011612);
      }
    }

    &.show {
      opacity: 1;
      max-height: $height * 3 + 30;
    }
  }

}
