@import '/src/assets/css/variable.scss';

.design {
  user-select: none;
  height: 100%;
  width: 100%;
  font-size: 16rem;

  &.white {
    .tool-bar {
      opacity: 0;
    }

    .header {
      //opacity: 0;
    }

    .content {
      & > .left {
        opacity: 0;
      }

      & > .right {
        //opacity: 0;
        background: white;

        .base-info {
          &:first-child {
            //opacity: 0;
            .d-input {
              background: white;
              color: black !important;
            }
          }

          .d-button, .d-icon {
            //background: white;
            //opacity: 0;
          }

          &:nth-child(3) {
            opacity: 0;
          }

          &:nth-child(4) {
            opacity: 0;
          }
        }

        .config-wrapper {
          color: black !important;
        }
      }
    }
  }

  &.dark {
    background: black !important;

    .tool-bar {
      opacity: 0;
    }

    .header {
      opacity: 0;
    }

    .content {
      & > .left-wrapper {
        background: transparent;

        .tabs, .layer {
          opacity: 0;
        }
      }

      & > .right {
        opacity: 0;
      }
    }

  }

  $header-height: 42rem;

  > .header {
    height: $header-height;

    .fps {
      font-size: 28rem;
      font-weight: bold;
    }
  }

  .content {
    height: calc(100% - #{$header-height});
    display: flex;

    .canvas-wrapper {
      flex: 1;
      height: 100%;

      .tool-bar {
        height: 42rem;
        background: $dark-bg;
        display: flex;
        justify-content: space-between;

        > .left {
          display: flex;

          .tool {
            padding: 0 10rem;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;

            &.select {
              padding: 0 6rem;
            }

            .b-select {
              padding: 0;
              background: unset;

              .b-select-right {
                margin-left: 5rem;
              }
            }

            .i-icon {
              display: flex;
              font-size: 18rem;
            }

            .arrow {
              margin-left: 2rem;
            }

            &:hover {
              background: black;
            }

            &.active {
              background: $primary;
            }
          }
        }

        > .right {
          display: flex;

          .resize {
            width: 45rem;
            display: flex;
            align-items: center;
            color: white;
          }
        }
      }

      #canvasArea {
        width: 100%;
        height: calc(100% - #{$header-height});
        position: relative;
        //background: rgb(229, 229, 229);

        #canvas {
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 100%;
          height: 100%;
        }
      }
    }

    & > .right {
      width: 260rem;
      background: $dark-bg;
      padding: 10rem;

      .gray {
        color: gray;
      }

      .config-wrapper {
        height: 100%;
        width: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        color: white;


        .base-info {
          > .header {
            margin-bottom: 8rem;
            height: 30rem;
            display: flex;
            align-items: center;

            .title {
            }
          }

          padding: 10rem 0;
          border-bottom: 1px solid #464646;

          .row {
            margin-bottom: 6rem;
            width: 100%;
            grid-gap: 6rem;
            display: grid;
            grid-template-columns: 1fr 1fr 30rem;

            .col {
              grid-gap: 6rem;
              display: flex;
            }
          }

          .row-single {
            @extend .row;
            grid-template-columns: 1fr 30rem;
          }
        }
      }
    }
  }
}

.color-block {
  $w: 18rem;
  width: $w;
  height: $w;
  background: #000;
  border-radius: 4rem;
}

.test {
  display: flex;

  input {
    background: transparent;
    border: none;
    outline: none;
    width: 50%;
  }
}

.tool-popover {
  .ant-popover-arrow {
    display: none;
  }

  .ant-popover-inner-content {
    padding: 0;
  }

  .ant-popover-inner {
    background: $dark-bg2;
    border-radius: 6rem;
    overflow: hidden;

    .select {
      color: white;

      .option {
        padding: 0 16rem;
        width: 180rem;
        height: 40rem;
        cursor: default;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14rem;

        &:hover {
          background: $primary;
        }

        &.active {
          .i-icon {

            &:first-child {
              opacity: 1;
            }
          }
        }

        > .left {
          display: flex;
          align-items: center;
        }

        .i-icon {
          font-size: 16rem;
          display: inline-block;

          &:first-child {
            margin-right: 20rem;
            opacity: 0;
          }

          &:nth-child(2) {
            margin-right: 4rem;
          }
        }

      }
    }
  }
}

.tool-select {
  color: white;
}

.tool-option {
  width: 140rem;
  height: 100%;
  cursor: default;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14rem;
  padding-right: 4rem;


  > .left {
    display: flex;
    align-items: center;
  }


  .i-icon {
    font-size: 16rem;
    display: inline-flex;
    align-items: center;
    margin-right: 6rem;
  }

}

