.components {
  display: flex;

  .component {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: gray;
    $w: 30px;
    //height: $w;
    width: $w * 2;
  }
}

#canvas {
  margin-left: 50px;
  border: 1px solid gray;
}