@import '/src/assets/css/variable.scss';

.d-input {
  color: white;
  background: rgb(60, 60, 60);
  display: flex;
  align-items: center;
  border-radius: 5rem;
  border: 2rem solid transparent;
  transition: all .3s;
  height: $input-height;

  &.padding {
    padding: 0 10rem;
  }

  .prefix {
    cursor: ew-resize;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10rem;
  }

  .suffix {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10rem;
  }

  &:focus-within {
    border: 2rem solid rgb(75, 117, 246);
  }

  & > input {
    cursor: default;
    flex: 1;
    width: 100%;
    outline: none;
    border: none;
    height: 30rem;
    background: transparent;
  }
}