body, html {
  font-size: 6.25%;
}

.callTip {
  z-index: 9;
  top: 50rem;
  left: 250rem;
  position: absolute;

  &.alsoHover {
    display: none;
  }
}

.options {
  margin-left: 450rem;
}

.wrapper {
  position: fixed;
  top: 0;
  left: 0;


  .listWrapper {
    position: absolute;
    left: 0;
    width: 400rem;
    height: 500rem;
    transform: translateY(-1110px);
    z-index: 1;

    &.show {
      z-index: 2;
      transform: translateY(0);
    }

    .list {
      background: gray;
      color: white;
      width: 400rem;
      height: 500rem;
      overflow: auto;
      padding: 20rem 0;

      .item {
        margin-bottom: 10rem;
        background: red;
        height: 80rem;
        padding: 0 20rem;

        &.call-hover {
          background: gray;
        }
      }
    }
  }


  .mask {
    position: absolute;
    left: 0;
    width: 400rem;
    height: 500rem;
    background: #282c34;
    z-index: 1;

    &.show {
      z-index: 2;
    }
  }
}

